
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    padding: 20px; 
}
.card {
    width: 30%; 
    margin: 10px; 
    padding: 20px;
    border: 1px solid #ccc;
    box-sizing: border-box; 
    background-color: #fff; 
}

.card img {
    max-width: 100%; 
    height: auto;
    margin-bottom: 10px; 
    border-radius: 25px;
}

.container {
    max-width: 960px; 
    margin: 0 auto; 
    text-align: center;
    padding: 20px; 
    border: 1px solid #ccc; 
    background-color: #fff; 
}

.profile-picture {
    text-align: center; 
}

.profile-picture img {
    width: 150px; 
    height: 150px;
    border-radius: 50%; 
    border: 5px solid #333;
    margin: 0 auto; 
    display: block;
}


h1 {
    color: #333;
    font-size: 3em;
}

h2 {
    color: #333;
    font-size: 3em;
}
h3 {
    color: #333;
    font-size: 2em;
}
h4{
    color: #333;
    font-size: 1.5em;  
}

p {
    font-size: 1.2em;
}

#logo {
    font-size: 5em; 
}



nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; 
    justify-content: space-around; 
    background-color: #333; 
}

nav li {
    margin: 0;
}

nav a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px; 
}


@media only screen and (max-width: 600px) {
    body {
        font-size: 16px;
    }

    .container {
        margin: 10px;
        padding: 10px;
        width: calc(100% - 20px); 
        margin: 10px; 
        float: none;
    }

    nav ul {
        flex-direction: column; 
        text-align: center;
    }

    nav a {
        padding: 10px 0; 
    }

    .card {
        width: calc(100% - 20px); 
        margin: 10px; 
        float: none; 
    }

    
}


.skills-columns {
    display: flex;
    flex-wrap: wrap;
}

.skills-column {
    flex: 1;
    margin-right: 20px; 
}

.skills-column:last-child {
    margin-right: 0;
}

.skills-column ul {
    list-style-type: none;
    padding: 0;
}

.skills-column ul li {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 1.5;
}

.skills-column ul li:before {
    content: "\2022"; 
    color: #007bff; 
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

h2 {
    size:10em;
}




#professional-experience {
    
    
    border-radius: 10px;
    
}

#professional-experience h3 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

#professional-experience h4 {
    color: black;
    font-size: 20px;
    margin-bottom: 5px;
}

#professional-experience p {
    margin-bottom: 10px;
}

#professional-experience b {
    color: #007bff;
}


#education {
    
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

#education h3 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

#education h4 {
    color: #555;
    font-size: 20px;
    margin-bottom: 5px;
}

#education p,
#education ul {
    margin-bottom: 10px;
}

#education ul {
    list-style: none;
}

#education ul li {
    margin-bottom: 5px;
}

#education ul li:before {
    content: "\2022"; 
    color: #007bff; 
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

